@import "tailwindcss";

@theme {
  --color-error: #ffb4ab;
  --color-surface-container-highest: #353534;
  --color-tertiary-container: #ffdad2;
  --color-secondary-fixed-dim: #d2cb3a;
  --color-primary-fixed-dim: #c1cc97;
  --color-outline-variant: #46483d;
  --color-background: #131313;
  --color-surface-bright: #3a3939;
  --color-tertiary-fixed-dim: #ffb4a2;
  --color-inverse-surface: #e5e2e1;
  --color-on-secondary-fixed-variant: #4c4900;
  --color-surface-variant: #353534;
  --color-surface-container-low: #1c1b1b;
  --color-surface-tint: #c1cc97;
  --color-tertiary: #ffffff;
  --color-surface-dim: #131313;
  --color-primary-container: #dde8b1;
  --color-on-tertiary: #621100;
  --color-secondary: #d2cb3a;
  --color-on-secondary-container: #373400;
  --color-surface-container-lowest: #0e0e0e;
  --color-surface-container-high: #2a2a2a;
  --color-on-tertiary-container: #b23c1f;
  --color-inverse-primary: #596337;
  --color-on-primary-fixed: #171e00;
  --color-secondary-fixed: #efe754;
  --color-secondary-container: #a69f00;
  --color-surface: #131313;
  --color-on-background: #e5e2e1;
  --color-on-surface-variant: #c7c7b9;
  --color-error-container: #93000a;
  --color-on-secondary-fixed: #1e1c00;
  --color-on-primary: #2b340d;
  --color-on-error-container: #ffdad6;
  --color-on-tertiary-fixed: #3c0700;
  --color-on-primary-fixed-variant: #424b21;
  --color-primary-fixed: #dde8b1;
  --color-on-error: #690005;
  --color-tertiary-fixed: #ffdad2;
  --color-on-secondary: #343200;
  --color-on-tertiary-fixed-variant: #891e03;
  --color-primary: #ffffff;
  --color-surface-container: #201f1f;
  --color-inverse-on-surface: #313030;
  --color-on-primary-container: #5f693c;
  --color-outline: #919285;
  --color-on-surface: #e5e2e1;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Work Sans", sans-serif;
  --font-label: "Space Grotesk", sans-serif;

  --radius-lg: 0px;
  --radius-md: 0px;
  --radius-sm: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-full: 0px;
}

@layer base {
  body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--color-surface-container-lowest);
    color: var(--color-on-surface);
  }
  
  ::-webkit-scrollbar { width: 6px; }
  ::-webkit-scrollbar-track { background: #0e0e0e; }
  ::-webkit-scrollbar-thumb { background: #3a3939; }
}

@layer utilities {
  .technical-gradient {
    background: linear-gradient(45deg, #f4ffc6, #dde8b1);
  }
}
